{% extends 'mon/base.html' %}
{% load static %}
{% block t %}CRUD Database{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3 class="display-4 mb-3">
        Edit sensor's details
    </h3>
    <form method="POST" action="{% url 'edit' edit_id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" name="name" class="form-control" id="event" placeholder="Example: Sensor1">
        </div>
        <div class="form-group">
            <label for="min_temp">param 1</label>
            <input type="text" name="min_temp" class="form-control" id="event" placeholder="Example: 30">
        </div>
        <div class="form-group">
            <label for="max_temp">param 2</label>
            <input type="text" name="max_temp" class="form-control" id="event" placeholder="Example: 50">
        </div>
        <!--div class="form-group">
            <label for="achievement">Details</label>
            <textarea name="detail" id="detail" cols="30" rows="5" class="form-control"></textarea>
            <small id="emailHelp" class="form-text text-muted">Give some details</small>
        </div-->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}