{% extends 'accounts/base acc.html' %}
  
{% block body %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-primary text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
            <h2>Sign up</h2>
            <form method="post">
              {% csrf_token %}
              {% for field in form %}
              <p>
              {{ field.label_tag }}<br>
              {{ field }}
              {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
              {% endfor %}
              </p>
              {% endfor %}
              <a href="/home" class="btn btn-danger">Cancel</a>
              <button type="submit" class="btn btn-success">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}